    body {
        background-image: url("background.jpeg");
        /* Replace with your background image URL */
        background-size: cover;
        color: #fff;
    }

    .container {
        background-color: rgba(0,
                0,
                0,
                0.5);
        /* Semi-transparent background for content */
        padding: 20px;
        border-radius: 8px;
        margin-top: 20px;
    }

    .forecast-item {
        background: rgba(255, 255, 255, 0.8);
        color: #000;
        margin: 10px 0;
        padding: 10px;
        border-radius: 8px;
    }

    #weather-info {
        display: flex;
        justify-content: center;
    }



          .footer {
              display: flex;
              align-items: center;
              justify-content: center;
          }